body {
   background-color: bisque;
}
.container {
    display: flex;
    justify-content: center;
 }

 img {
    width: 100px;
    height: 100px;
 }

 .container ul {
   list-style-type: none;
 }

 .container ul li {
   margin: 20px;
 }

 .container ul li > div {
    display: grid;
    grid-template-columns: auto auto;
 }

 .container ul li > div div {
    margin: 0 30px;    
 }

 .container ul li > div div p:first-child a {
   text-decoration: none;
   font-weight: bolder;
   font-size: 24px;
 }

 .container ul li > div div p:last-child {
   text-align: right;
 }